body{
    background: #fafafa;
}
.dino{
     width: 60px;
     height: 60px;
     background-image: url('./img/dino.png');
     position: absolute;
     bottom: 0;
}
.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url('./img/cactus1.png');
}
.game-over{
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
@keyframes slideRight{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}
.background{
    position:absolute;
    bottom:0;
    background-image: url('./img/background.png');
    background-repeat: repeat-x;
    animation: slideRight 800s infinite linear;
    width: 100%;
    height: 200px;
}